.page-link {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:hover {
		z-index: 2;
		color: #0a58ca;
		background-color: #e9ecef;
		border-color: #dee2e6;
	}
	&:focus {
		z-index: 3;
		color: #0a58ca;
		background-color: #e9ecef;
		outline: 0;
	}
}
.page-item {
	// &:not(:first-child) {
	// 	.page-link {
	// 		margin-left: -1px;
	// 	}
	// }
	&:first-child {
		.page-link {
      border: 1px solid #dee2e6;
			border-top-left-radius: .25rem;
			border-bottom-left-radius: .25rem;
		}
	}
	&:last-child {
		.page-link {
      border: 1px solid #dee2e6;
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		}
	}
}
.page-item.active {
	.page-link {
		z-index: 3;
		color: #0d6efd;
	}
}
.page-item.disabled {
	.page-link {
		color: #6c757d;
    cursor: not-allowed;
		pointer-events: none;
		background-color: #fff;
		border-color: #dee2e6;

    svg path {
      fill: #BABEC3
    }
	}
}
.pagination-lg {
	.page-link {
		padding: .75rem 1.5rem;
		font-size: 1.25rem;
	}
	.page-item {
		&:first-child {
			.page-link {
				border-top-left-radius: .3rem;
				border-bottom-left-radius: .3rem;
			}
		}
		&:last-child {
			.page-link {
				border-top-right-radius: .3rem;
				border-bottom-right-radius: .3rem;
			}
		}
	}
}
.pagination-sm {
	.page-link {
		padding: .25rem .5rem;
		font-size: .875rem;
	}
	.page-item {
		&:first-child {
			.page-link {
				border-top-left-radius: .2rem;
				border-bottom-left-radius: .2rem;
			}
		}
		&:last-child {
			.page-link {
				border-top-right-radius: .2rem;
				border-bottom-right-radius: .2rem;
			}
		}
	}
}
.pagination {
	display: flex;
	padding-left: 0;
	// list-style: none;
}
@media (prefers-reduced-motion:reduce) {
	.page-link {
		transition: none;
	}
}
